.axis {
    font: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(139, 37, 37);
    shape-rendering: auto;
}

.axis-title {
    fill: none;
    stroke: rgb(94, 35, 35);
    stroke-width: 0.5px;
}




.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

h1 {
    text-align:center
}

mat-drawer-content {
    padding: 20px;
}
